:root {
    --color-primary: #FF0101; /* Rojo brillante para el menú y botones */
    --color-secondary: #7D1111; /* Rojo oscuro para iconos y detalles secundarios */
    --color-tertiary: #C47070; /* Rojo ladrillo para fondos */
    --color-contact-bg: #C47070; /* Fondo de contacto */
    --color-contact-title: #8F4239; /* Color del título en contacto */
    --color-contact-text: #654141; /* Color del texto en contacto */
    --color-text: #000000; /* Negro para el texto principal */
    --color-heading: #7D1111; /* Rojo oscuro para títulos */
    --color-heading-secondary: #8F4239; /* Rojo ladrillo para subtítulos */
    --color-main-content-bg: #FFFFFF; /* Fondo blanco del contenido principal */
    --color-input-bg: #FFFFFF; /* Fondo blanco de los campos de entrada */
    --color-input-border: #D1D1D4; /* Borde gris claro de los campos de entrada */
    --color-button-bg: #7C78B8; /* Fondo de los botones */
    --color-button-hover-bg: #6A679E; /* Fondo de los botones en hover */
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e3e3e3; /* Fondo gris claro para el cuerpo */
}

.container {
    max-width: 38em;
    padding: 2em 3em;
    margin: 2em auto;
    background-color: var(--color-main-content-bg); /* Fondo blanco */
    border-radius: 8px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: var(--color-heading); /* Rojo oscuro para títulos principales */
    text-align: center;
}

h3 {
    color: var(--color-heading-secondary); /* Rojo ladrillo para subtítulos */
}

p {
    color: var(--color-text); /* Negro para texto pequeño */
}

.form-group {
    margin-bottom: 1em;
}

input[type="text"] {
    width: 100%;
    padding: 0.8em;
    border: 1px solid var(--color-input-border);
    border-radius: 4px;
    background-color: var(--color-input-bg); /* Fondo blanco de los campos de entrada */
}

.login {
    background-color: var(--color-button-bg);
    color: #ffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

    .login:hover {
        background-color: var(--color-button-hover-bg);
    }

/* Button Styles */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.btn-action {
    background-color: var(--color-button-bg);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    margin: 0 5px;
}

    .btn-action:hover {
        background-color: var(--color-button-hover-bg);
    }

.btn-search {
    background-color: var(--color-primary); /* Rojo brillante */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

    .btn-search:hover {
        background-color: var(--color-tertiary); /* Rojo ladrillo */
    }

.btn-return {
    background-color: var(--color-contact-text); /* Color oscuro para el botón de regreso */
    color: #fff;
}

    .btn-return:hover {
        background-color: var(--color-primary); /* Rojo brillante */
    }
